* {
    padding: 0px;
    margin: 0px;
}


.topNav{
    position: fixed;
    background: black;
    width: 100%;
    top: 0%;
}

.searchBox {
    width: 50%;
    margin: 1.5% 24% 1.5% 24%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    /* background-color: red; */
    /* border: 2px solid red; */
}


.searchBox input{
    outline: none;
    /* border: none; */
    width: 80%;
    height: 35px;
    padding-left: 8px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    letter-spacing: .09em;
    word-spacing: .15em;
    overflow:hidden;
}

.searchBox input:focus{
    transform: scale(1.01);
}

.searchBox input::placeholder{
    color: black;
    opacity: .4;
}

.searchBox button{
    background-color: transparent;
    border:none;
    color:white;
    font-weight: bold;
    font-size: 22px;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid white;
    
}

.searchBox button:hover{
    box-shadow: 0px 0px 15px 2px red;
}


.sectionContainer{
    background-color: white;
    width: 100%;
}
.section {
    margin: 120px 0px;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    float: left;
    background: white;
}
.card {
    width: 20%;
    margin: 10px;
    padding :10px;
    background-color: white;
    box-shadow: 5px 10px 20px;
    border-radius: 8px;
    display: inline-block;
}
.card:hover{
    box-shadow: 10px 10px 20px;
    transform: scale(1.02);
}

.img {
    width: 100%;
    border-radius: 5%;
}

.cardDet {
    text-align:left;
}

.cardDet button {
    width: 100%;
    padding: 10px;
    background-color: rgb(184, 0, 138);
    font-size: 1em;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.cardDet button:hover {
    background-color: rgb(146, 1, 110);
}

.sideDesc{
    position: fixed;
    margin-left:1% ;
    top: 33%;
    width: 17%;
    display: inline-block;
    background: white;
    padding: .5%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px ;
}

.sideDesc:hover{
    transform: scale(1.01);
}

.sideDesc button{
    background: rgba(0,0,0,01);
    color: white;
    font-size: 1em;
    /* border:none; */
}
.cancelBtn{
    position: absolute;
    padding: 5px 10px;
    right: 0%;
    top: 0%;
    font-weight: bold;
    border-radius: 50%;
    border: 2px solid white;
}
.sideDesc button:hover{
    background-color: rgba(50,0,50,1);
}

.w80{
    width: 80%;
}

.pad10{
    padding: 10px;
}
.hidden{
    display: none;
}